@model Lws.Domain.Sensor

@{
    ViewBag.Title = "_Details";
}
<div class="container">
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.IsOptMeter1)</th>
            <th>@Html.DisplayNameFor(model => model.IsOptMeter2)</th>
            <th>@Html.DisplayNameFor(model => model.IsOptMeter3)</th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.IsOptMeter1)</td>
            <td>@Html.DisplayFor(model => model.IsOptMeter2)</td>
            <td>@Html.DisplayFor(model => model.IsOptMeter3)</td>
        </tr>
    </table>
</div>

